<h1><%= pluralize(@rooms.size, "Room") %> at The Maze Music Studios</h1>

<% @rooms.each do |room| %>
	<h3><%= link_to(room_number_format(room), room_path(room)) %></h3>
	<div>Status: <%= room.availability_status %></div>
<% end %>