<div class="container text-center mt-4 mb-4" style="width: 60rem;">
	<h1 class="list-group-item active">Rehearsal Room List</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Room Number</th>
				<th>Tenant Name</th>
			</tr>
		</thead>
		<tbody>
			<% @rooms.each do |room| %>
				<tr>
					<td><%= room_number_format(room) %></td>
					<td>N/A</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>